@font-face {
  font-family: 'Gym';
  src: url('./Gym.woff2') format('woff2'),
       url('./Gym.woff') format('woff'),
       url('./Gym.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
