.tinUpIn {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: tinUpIn;
  animation-name: tinUpIn;
}

@-webkit-keyframes tinUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateY(-900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
  }
}
@keyframes tinUpIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateY(-900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

.textLogo {
  font-family: Work Sans, sans-serif;
  font-weight: bolder;
  font-size: 3.4em;
  color: $red-orange !important;
  text-transform: uppercase;
  margin-top: 17px;
  margin-left: 10px;
  float: left;
  clear: both;
}

.jumbotron .textLogo {
  font-size: 4.4em;
  margin-top: -20px;
}

.logoIcon {
  font-family: Gym;
  font-weight: normal;
  color: white;
  padding-right: 3px;
}

.jumbotron {
  text-align: center;
  height: 600px;
}

.jumbotron .container {
  width: 100%;
}

.jumbotron {
  background-image: url('../images/newgoalbgd.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 0;
  margin-top: 0;
  border-bottom: 4px solid $red-orange;
}

.jumbotron .btn-primary {
  padding: 10px;
  margin: 10px;
  font-size: 1.6em !important;
}

.jumbotron a:link {
  color: $flash-white;
}

.jumbotron a:visited {
  color: $flash-white;
}

.dark-top-gradient-container {
  width: 100%;
  height: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 15px;
}

.jumbotron h1 {
  padding-top: 180px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#promotionTable {
  text-align: center;
}

#promotionTable span {
  font-size: 8em;
  color: #EE6352;
}

#promotionTable p {
}


@media (max-width: 1400px) {

  .jumbotron {
    height: 500px;
  }

  .jumbotron h1 {
    padding-top: 150px;
    margin-bottom: 50px;
  }

}

@media (max-width: 768px) {

  .jumbotron .textLogo {
    font-size: 3em;
    float: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .textLogo {
    margin-top: 5px;
    font-size: 2em;
    margin-left: 0;
  }

  .jumbotron {
    height: auto;
  }

  .jumbotron h1 {
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 1.8em !important;
  }

  .jumbotron .btn-primary {
    font-size: 1em !important;
  }

}
