// Individual page headers


// Internal page styles
.main-content {
  margin-top: 20px;
  min-height: 100vh;
}

.react-datepicker__day--selected, .react-datepicker__day--in-range {
    background-color: $red-orange !important;
}

.react-datepicker__header {
    background-color: $flash-white !important;
}

#side-bar button {
  width: 100%;
  font-size: 1.6em;
  margin: 0;
}

.panel {
  margin-top: 15px;
  margin-bottom: 15px;
}

header {
  height: 75px;
  background-size: cover;
  margin-bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34374e+0,484d6d+100 */
  background: #34374e; /* Old browsers */
  background: -moz-linear-gradient(top,  #34374e 0%, #484d6d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #34374e 0%,#484d6d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #34374e 0%,#484d6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34374e', endColorstr='#484d6d',GradientType=0 ); /* IE6-9 */

}

header .container {
  width: 100%;
}

.page-title-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee6352+0,ea4535+100 */
  background: rgb(238,99,82); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,99,82,1) 0%, rgba(234,69,53,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,99,82,1) 0%,rgba(234,69,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,99,82,1) 0%,rgba(234,69,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6352', endColorstr='#ea4535',GradientType=0 ); /* IE6-9 */

}

.page-title-bar h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.date-picker-label {
  display: block;
  margin-right:20px;
}

header h1 {
  text-align: center;
  margin-top: 150px;
  text-transform: uppercase;
}

.panel {
  background-color: transparent !important;
  border: none;
 -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #484D6D;

}

.panel table {
  margin: 5px;
}

.panel-heading {
  background-color: #484D6D !important;
  font-family: 'Work Sans', sans-serif;
  color: #EFE9F4 !important;
  font-size: 1.6em;
}

#goals-widget td {
  font-size: 1.4em;
}

form .btn-primary {
  margin-top: 30px;
  font-size: 1.8em;
}

.input-group-addon {
  background-color: #484D6D;
  color: #EFE9F4;
  font-family: 'Work Sans', sans-serif;
}

.extra-height {
  margin-bottom: 20px;
}

.block-label {
  display: block;
  margin-bottom: 10px;
}

.radio {
  display: inline;
  margin-right: 20px;
  margin-left: 15px;
  font-weight: normal;
  font-size: 1.2em;
  width: 100%;
  padding: 5px;
}

.react-datepicker__input-container {
  width: 100%;
  display: table;
}

.form-inline {
  .react-datepicker__input-container {
    width: auto;
    display: inline;
  }
}

img {
  max-width: 100%;
}

form img {
  margin: 20px;
}

form label {
  margin-top: 15px;
}

.btn-filepicker {
  display: block !important;
}

.filepickerPhoto {
  border: 2px solid $grey-blue;
  max-width: 30%;
}

@media (max-width: 900px) {

  .radio {
    margin-left: 10%;
    width: 100%;
    padding: 5px;
    display: block;
  }

  .filepickerPhoto {
    max-width: 80%;
  }

  input.form-control.react-datepicker {

  }

  label {
    display: block;
  }

  .form-submit {
    width: 100%;
    margin-bottom: 40px;
  }

  header {
    min-height: 40px;
    height: auto !important;
  }

  img {
    max-width: 80%;
  }

}
