// imports
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);
@import '../../node_modules/react-datepicker/dist/react-datepicker.min.css';

// primary color scheme

$red-orange: #EE6352;
$green: #57A773;
$blue: #08B2E3;
$flash-white: #EFE9F4;
$slightly-purple: #dacde5;
$grey-blue: #484D6D;
$grey-blue-light: #858aad;

// common typography

p, h1, li, h2, h3, h4, h5, td, label, input, td, th, tr, table {
  font-family: 'Work Sans', sans-serif;
  color: $grey-blue;
}

p {
  font-size: 1.4em;
}

.extra-bottom {
  margin-bottom: 8px !important;
}

h1 {
  font-weight: bolder;
  font-size: 2.8em !important;
  color: $flash-white !important;
}

h2 {
  font-weight: bold;
}

a:link {
  color: $grey-blue;
  text-decoration: none;
}

a:visited {
  color: $grey-blue;
  text-decoration: none;
}


a:hover {
  color: $grey-blue-light;
  text-decoration: none;
}

a:active {
  color: $grey-blue-light;
  text-decoration: none;
}


// common styles

body {
  background-color: $flash-white;
  height: 100vh;
  margin-top: 0;
  overflow-x: hidden;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


.btn, .btn-large {
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 8px;
}

.btn-default {
    font-size: 1.2em;
    font-family: 'Work Sans', sans-serif;
    border: none;
  }

.btn-primary {
  background-color: $red-orange !important;
  border: none;
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary:hover {
  background-color: #ea442e !important;
}

.btn-success {
  background-color: $green !important;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 10px;
  border: none;
}

.btn-success:hover {
  background-color: #46865d !important;
}


.btn-info {
  background-color: $blue !important;
  font-family: 'Work Sans', sans-serif;
  border: none;
}

.btn-info:hover {
  background-color: #079cc5 !important;
}

@import 'nav';
@import 'home';
@import 'footer';
@import 'internalPageCommon';
@import 'dashboard';
@import 'userWidget';
@import 'postWorkout';
@import 'search';
@import 'workouts';
@import 'editGoal';
@import 'sidebar';
@import 'modal';
