#user-widget {
  border-color: $red-orange !important;
}

#user-widget .panel-heading {
  background-color: $red-orange !important;
  border-bottom: 0;
  font-family: 'Work Sans', sans-serif;
  color: $flash-white !important;
  font-size: 1.6em;
}

.profile-img {
  width: 120px;
  height: 120px;
  background-image: url('https://www.filestackapi.com/api/file/E6Yx55BT2G1NmiuH34rQ');
  background-size: cover;
  background-position: center;
  border-right: 1px solid $red-orange;
  display: table-cell;
}

.user-widget-content {
  display: table-cell;
  padding: 5px;
}

.user-widget-content p {
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.2;
}

#user-widget .widget-footer {
  background-color: $slightly-purple;
  border-top: 1px solid $red-orange;
  height: auto;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#user-widget .widget-footer a {
  padding: 10px;
}
