<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="pykcharts.1.1.0.css" media="screen" title="no title" charset="utf-8">
    <style>

    </style>
  </head>
  <body>

    <div id="my_chart"></div>


    <script src="pykcharts.1.1.0.js" charset="utf-8"></script>


  <script>
  window.PykChartsInit = function (e) {
    var k = new PykCharts.multiD.multiSeriesLine({
      selector: "#my_chart",
      data: "multi_line_data.json",

      // optional
      // axis_x_pointer_padding: 15,
      // axis_y_pointer_padding: 15,
      axis_x_pointer_size: 18,
      axis_y_pointer_size: 18,
      axis_x_title: "Day of Week",
      axis_y_title: "Weight Lifted (lbs)",
      chart_color: ["steelblue","orange","green", "red"],
      chart_margin_left: 80,
      chart_margin_bottom: 60,
      axis_x_time_value_datatype: "date"
    });
    k.execute();
  }
</script>

  </body>
</html>
