<!DOCTYPE HTML>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,600,800,900' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" charset="utf-8"></script>

<script type="text/javascript">




let date1 = moment("2012-11-01T16:38:32.497Z").format("YYYY, MM, DD");
let date2 = moment("2012-11-02T16:38:32.497Z").format("YYYY, MM, DD");
let date3 = moment("2012-11-07T16:38:32.497Z").format("YYYY, MM, DD");
let date4 = moment("2012-11-15T16:38:32.497Z").format("YYYY, MM, DD");
let date5 = moment("2012-11-22T16:38:32.497Z").format("YYYY, MM, DD");
let date6 = moment("2012-12-04T06:00:00.000Z").format("YYYY, MM, DD");




var date = moment(date1).format("YYYY, MM, DD");
var goalName = "Bench Press"
var workout1 =  {
  maxReps: 150
}



var testData = [{
  type: "line",
  showInLegend: true,
  name: goalName,
  legendText: goalName,
  toolTipContent: "{x}: {y} lbs",
  dataPoints: [
  {x: new Date(date1), y: workout1.maxReps + 10},
  {x: new Date(date2), y: workout1.maxReps + 15},
  {x: new Date(date3), y: workout1.maxReps + 20},
  {x: new Date(date4), y: workout1.maxReps + 25},
  {x: new Date(date5), y: workout1.maxReps + 50},
  {x: new Date(date6), y: workout1.maxReps + 70}
  ]
}]




console.log(date);

window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        theme: "theme3",
        title: {
            text: null
        },
        axisX:{
            valueFormatString: "MM-DD-YYYY" ,
            labelAngle: -50,
            labelFontFamily: "Work Sans"

        },
        axisY: {
          valueFormatString: "###" + " Lbs",
          minimum: 25,
          labelFontFamily: "Work Sans"
      },
        legend: {
          fontFamily: "Work Sans"
        },
      data: testData
});

chart.render();
}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</body>
</html>
